@import url("https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  background-color: #141414;
  color: rgb(240, 230, 218);
  font-size: 15px;
  border: none;
  font-family: "Martel Sans", sans-serif;
}

#profile {
  display: block;
  padding: 80px;
  margin: auto;
}
h1 {
  max-width: 700px;
  margin: auto;
  font-size: 55px;
}
.container {
  border-top: 1px solid #666666;
  padding: 10px;
  max-width: 700px;
}
#section1,
#section2 {
  border-bottom: 0.5px solid #666666;
}
#section1,
#section2,
#section3 {
  padding-top: 20px;
  padding-bottom: 20px;
}
#section1 {
  padding-top: 10px;
}
nav {
  background-image: linear-gradient(to bottom, black, #141414);
  height: 50px;
  padding: 20px;
}
.row {
  margin-left: 0;
}
#editprofile {
  background-color: black;
  background-image: url(/image/images.png);
  background-size: 12px;
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 5px;
  width: 25px;
  height: 25px;
  position: inherit;
  border-width: 1.5px;
  border-color: white;
  border-radius: 50%;
  top: -35px;
  left: 10px;
  box-shadow: 2px 2px 4px black;
  border-image: none;
  padding: 0;
}
#editprofile:active {
  border-color: gray;
}
#divprof {
  max-height: auto;
  max-width: 160px;
  margin-top: 10px;
  margin-left: -10px;
  margin-right: 5px;
}
#userimg {
  border-radius: 5px;
}

#maturity,
#name {
  background-color: #303030;
  border-radius: 0px;
  border: 0px;
  width: fit-content;
  height: fit-content;
  color: antiquewhite;
  padding-top: 11px;
}
#maturity {
  background-color: #303030;
  font-weight: bold;
  margin: 15px 0;
  border-radius: 3px;
}
#name {
  background-color: #666666;
  width: 500px;
  margin-bottom: 20px;
}
#language {
  background-color: black;
  color: antiquewhite;
  width: fit-content;
  border-color: #666666;
  border-width: 2px;
  border-radius: 0;
  padding: 0px;
  padding-right: 50px;
}
label {
  display: block;
  font-size: 20px;
}
.btn-primary,
.btn-secondary {
  width: fit-content;
  border-color: #666666;
  border-width: 1px;
  border-radius: 0;
  padding: 10px;
  padding-top: 13px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 7px;
  font-weight: 600;
}
.btn-primary {
  background-color: #ffff;
  color: #141414;
}
.btn-primary:hover {
  background-color: #141414;
  color: #666666;
  border-color: red;
}
.btn-secondary {
  background-color: #141414;
  color: #666666;
}
#edit {
  padding-top: 6px;
  padding-bottom: 3px;
}
.checkbox {
  background-color: transparent;
  border-color: #666666;
  border-width: 1px;
  border-radius: 0;
}
/**CHECK BOX*/
.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: solid 0.5px #666666;
}
/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: #303030;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 9px;
  top: 2px;
  width: 10px;
  height: 20px;
  border: solid #666666;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}